*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}
body{
    height: 100%;
    width: 100%;
    text-align: center;
    align-items: center;
    justify-content: center;
     font-family: Arial, Helvetica, sans-serif;
    background-color: lightcoral;
   
}

#main {
    height:80%;
    width: 80%;
    margin-left:100px;
    margin-top: 100px;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: aqua;
}

.shapes{
    margin-top: 10px;
    margin-left:10px;
    margin-bottom: 40px;
    height: 150px;
    width: 150px;
    display: flex;
    align-items: center;
    justify-content:center;
    background-color: yellow;
    border:2px solid black 
    
}

#circle{
    border-radius: 50%;
    background-color: lightgreen;
}
#square{
    background-color: orange;
}
#dimond{
    background-color: violet;
    transform: rotate(45deg);
}